<div class="welcome">
	<div id="home_header" class="col-xs-12">
		<div class="col-xs-12 work-header">
      <h1 class="text-center">
      	<span class="yoga-dot dot">YOGA</span> 
      	<span class="massage-dot dot">&middot; MASSAGE</span> 
      	<span class="healing-dot dot">&middot; HEALING</span>
      </h1>
    </div>
		<%= image_tag('laughing.jpg', style: 'visibility: hidden; width: 100%; height: auto;') %>
		
	</div>

	<div class="col-xs-12 work-header">
		<h4 class="text-center">WAYS TO WORK WITH HEATHER</h4>
	</div>

	<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h2>ENERGY &amp; BODY WORK</h2>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left" style="padding-left: 30px;">

							<p><b>Our bodies speak to us through pain and discomfort. Whether you are feeling it emotionally or physically -- access to the issue, whether through deep tissue or lighter, more energetic work, allows you to detangle and realign your physical and energetic bodies.</b></p>

							<p>My specialties include deep tissue, myofascial trigger point therapy, Craniosacral therapy, and alignment/movement/breath practices based in yoga. </p>

							<hr />
							
							<div class="border-left">
								<div style="padding-left: 20px;">
									<h3>3 SESSION PACKAGE:</h3>
									<p>New clients - buy your first 3 energy and body work sessions for $160</p>
								</div>
							</div>

							<hr />

							<p><b>$95 for 60 min session</b></p>
							<p><b>$125 for 90 min session</b></p>

							<p><i>* Travel to home requires an additional $25 within 3 mi. of Nashville</i></p>
						</div>

						

					</div>
				</div>
			</div>
		</div>
	</div>

	

		<!-- <div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h2>DIVING DEEP</h2>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left" style="padding-left: 30px;">
							<p>You believe in the benefits of contacting your intuition and desire a deep connection with yourself. Maybe you feel separated from your intution (an untruth), or "stuck" in love and relationships, or a sense of blah/unexcitement about your life. These are all normal human conditions, but I want to help you work past that - uncovering the truths from untruths. Replacing old beliefs with new, better fitting beliefs that align with your soul's purpose.</p>

							<h3>What's included:</h3>
							<ul>
								<li>Travel to your home (if in Nashville, TN) or sessions can be done remotely, over the phone</li>

								<li>12 energy work sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)
							</ul>

							<h3>This package is for you, if...</h3>
							<ul>
								<li>You are feeling a deep desire to connect with a greater source</li>
								<li>You understand that when creating change, patience and consistency are required</li>
								<li>You REALLY want to create transformation in your body and mind</li>
								<li>You want to dive deeper into creating a connection with your intuition</li>
							</ul>

							<p><b>$2000 for 12 weeks of weekly sessions and support</b></p>
						</div>

						

					</div>

				</div>
			</div>
		</div>
	</div> -->

	<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h2>REVEALING THE LANDSCAPE</h2>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left" style="padding-left: 30px;">
							<p>Have you been craving a deeper connection through your yoga practice? You enjoy taking yoga classes but are feeling a little confused or sometimes overwhelmed with what comes up in your body. There may be some musclar imbalance that needs to be addressed, which can be corrected with a combination of massage and yoga. My dear, this package is for you. </p>

							<h3>What's included:</h3>
							<ul>
								<li>Travel to your home (Nashville, TN only)</li>
								<li>12 massage sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)
								<li>12 meditation/yoga sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)</li>
							</ul>

							<h3>This package is for you, if...</h3>
							<ul>
								<li>You want to get clear on how to improve your alignment and breath</li>
								<li>You are needing to slow down and calm your mind</li>
								<li>You would like to feel more flexibility/stability in your body</li>
								<li>You want to dive deeper into creating a personal practice to connect with your higher self</li>
							</ul>

							<p><b>$3500 for 12 weeks of bi-weekly sessions and support</b></p>
						</div>

						

					</div>

				</div>
			</div>
		</div>
	</div>

	
	<div id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<h3 class="text-left" id="about-work">ABOUT MY WORK</h3>

					<div class="entry col-xs-12 text-left">
						<p>Much of my work revolves around <b>Craniosacral therapy</b>, which is a technique for balancing the flow of cerebral spinal fluid that protects your central nervous system, aimed toward balancing your body and bringing you into a state of awareness.</p>
						<br /><br />
					</div>


					<div class="entry col-xs-4 text-left border-right">
						<p style="padding: 0 15px 0 15px;">&middot; <b>Energy Sessions</b> &middot; <br /> Using my intuition as a guide and Craniosacral therapy as a path - I help you walk through what is coming up through the medium of your body. The body is a blueprint of all experiences and emotions, sometimes leaving a physical mark. Focused interaction during the session often takes place, however it is not necessary.</p>
					</div>

					<div class="entry col-xs-4 text-left border-right">
						<p style="padding: 0 15px 0 15px;">&middot; <b>Body Work/Massage Sessions</b> &middot;  <br />Slow-paced connective and deep tissue manipulation, integrated with Craniosacral therapy - a technique for balancing the flow of cerebral spinal fluid that protects your central nervous system, aimed toward balancing your body and bringing you into a state of awareness. A combination of light and deep work, where appropriate.</p>
					</div>

					<div class="entry col-sm-4 text-left">
						<p style="padding: 0 15px 0 25px;">&middot; <b>Yoga Sessions</b> &middot; <br />Incorporating meditation, yoga asana (postures), and breathwork, to various degrees. Not every body needs the same postures, needs also vary on a daily basis due to shifts in your body and emotional state. Movement follows breath.</p>

					</div>

					

					<!-- <div class="entry col-xs-12 text-center">
						
						<p><b>MY MASSAGE</b> &middot; Slow-paced connective and soft tissue manipulation aimed toward balancing your body and bringing you into a state of awareness with it. Sessions are approximately 90 min.</p>

						<br /><br />
						<h4>one session ......... $125</h4>
						<h4>three sessions ...... $325</h4>

						
						<h3><br /><br />Three month yoga programs</h3>
						<p>Consistency creates a personal practice and a depth of connection of your body/mind. This leads to transformation that happens when one is truly commited to the process. I combine my skills in meditation, yoga, massage and energy work to create sessions that best fit your needs. Sessions are approximately 75 min.</p>
						<br /><br />
						<p><a href="contact.html">Let's set up a free consultation session</a>, if you're ready to try me out.</p>

						<p>What's included</p>



						<h4>12 sessions ......... $2000</h4>
						<h4>24 sessions ......... $3500</h4>
					</div> -->

					<!-- <div class="entry col-xs-12 text-center button">
						<%# link_to "WORK WITH ME", contact_path, class: "btn btn-default ha-btn" %>
					</div>  -->
					
				</div>
			</div>
		</div>
	</div>




	<div class="col-xs-12 manifesto">
		<div class="container">
			<div class="row">
				
				<!-- <h4 class="text-center">Do you have trouble clearing yourself of your day/thoughts/work? </h4>
				<h4 class="text-center">Are you ready to live with more ease and enjoyment? </h4> -->
				<h4 class="text-center">Are you ready to feel better and hear the wisdom of your body?</h4>

				<div class="entry col-xs-12 text-center button">
					<%= link_to "CONTACT ME", contact_path, class: "btn btn-default ha-btn" %>
				</div> 

			</div>
		</div>
	</div>
	

	<div class="col-xs-12 testimonials">
		<div class="container-fluid">
			<div class="row">

					<div class="entry col-xs-6 text-left">
						<h2>WHAT CLIENTS HAVE TO SAY</h2>
					</div>	

					<div class="entry col-xs-6 text-right border-left">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					  	 <% @testimonials.each_with_index do |testimonial, index| %>

					  	 	<% if index == 0 %>
				          <div class="item active">
				       	<% else %>
									<div class="item">
				       	<% end %>

										<div class="col-xs-12">
											<p>
												<div style="float: left; padding-right: 20px;">
				          				<div class="thumbnail align-center" style="max-width: 200px;">
														<%= image_tag testimonial.image %>
														<h2 style="padding: 15px 0 0 0; text-align: center;"><%= testimonial.title %></h2>
													</div>	
												</div>	
				          			<%= strip_tags(testimonial.body) %>
				          		</p>
			          											  
			          		</div>
				          </div>
				      <% end %>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container about" id="about">
			<div class="row">

				<div class="entry col-xs-12 col-md-5 text-left">
					<div class="thumbnail">
						<%= image_tag 'standing.jpg' %>
					</div>
				</div>

				<div class="entry col-xs-12 col-md-7 text-left">
					<h2>ABOUT HEATHER</h4>
					<p class="entry">As I continuously refine my ability to bring myself home, I want to help you find compassion and connection - qualities that are abundant within us all. I want to help you feel the love that is abundant and universal. I hold a safe space that allows you to feel your emotions in a way that gives you more information and a step up in opening up to a more whole version of yourself. </p>

					<p class="entry">My own journey has ushered me in overcoming anxiety and opening to who I am in my heart - an intuitive and healing person. After studying computer science, as a web developer in corporate environments, teaching yoga on the side. 10 years later, I felt I no longer fit into that role and couldn't ignore my desire to develop my intution on a deeper level.</p>
				
					<p class="entry"> Teaching yoga since 2012, I have been drawn towards the principles embodied by Ashtanga yoga. Traveling to study in Thailand with Richard Freeman opened my senses to teach focused on slower movement and more internal focus. In 2018, I became an LMT (licensed massage therapist) to further my skills in helping nourish and nurture others.
					</p>
					
				</div>

			</div>
		</div>	

	<div class="col-xs-12">
		<div class="container">
			
				<div class="row text-center insta">
					
					<div class="container">
						<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup">
					<form action="https://heatherallaman.us18.list-manage.com/subscribe/post?u=8ba3dcd6c24c0579fe11e8625&amp;id=d59e0357c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<label for="mce-EMAIL">Would you like to receive emails from Heather?</label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8ba3dcd6c24c0579fe11e8625_d59e0357c7" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					</form>
					</div>

					<!--End mc_embed_signup-->
						
					</div>
					
				</div>
			</div>
		</div>
	</div> 

</div>