<div class="welcome">
	<div id="home_header" class="col-xs-12">
		<div class="col-xs-12 work-header">
      <h1 class="text-center">YOGA &middot; MASSAGE &middot; HEALING</h1>
    </div>
		<%= image_tag('louise.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
		
	</div>

	<div class="col-xs-12 work-header">
		<h4 class="text-center">WAYS TO WORK WITH HEATHER</h4>
	</div>

	<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h2>Single Session</h2>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left" style="padding-left: 30px;">
							<p>Most of us don't spend enough time tuning into our bodies and our needs. This combination of work allows us to check in through different means: mind, body and spirit. The end is a clearer picture of yourself at this point in time, leading you on your journey to self-discovery. </p>

							<h3>What's included:</h3>
							<ul>
								<li>1 mini massage session (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)
								<li>1 mini yoga session (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)</li>
								<li>a short, personalized meditation for connecting to your core energy</li> 
							</ul>

							<p><b>$125 for 90 minutes</b></p>
						</div>

						

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h2>Package 1</h2>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left" style="padding-left: 30px;">
							<p>Have you been craving a deeper connection through your yoga practice? You enjoy taking yoga classes but are feeling a little confused or sometimes overwhelmed with what comes up in your body. My dear, this package is for you. </p>

							<h3>What's included:</h3>
							<p>All sessions performed in client's home.</p>
							<ul>
								<li>4 massage sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)
								<li>8 yoga sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)</li>
							</ul>

							<h3>This package is for you, if...</h3>
							<ul>
								<li>You want to get clear on how to improve your alignment and breath</li>
								<li>You are needing to slow down and calm your mind</li>
								<li>You would like to feel more flexibility and stability in your body</li>
								<li>You want to dive deeper into creating a personal practice</li>
							</ul>

							<p><b>$2000 for 12 weeks of weekly sessions and support</b></p>
						</div>

						

					</div>

				</div>
			</div>
		</div>
	</div>

		<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h2>Package 2</h2>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left" style="padding-left: 30px;">
							<p>Maybe it's hard for you to find time to get to a yoga class, for one reason or another. Maybe the environment of a class just does not work for you. You believe in the benefits of a personal practice and desire a deep connection with yourself. </p>

							<h3>What's included:</h3>
							<p>All sessions performed in client's home.</p>
							<ul>
								<li>8 massage sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)
								<li>16 yoga sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)</li>
							</ul>

							<h3>This package is for you, if...</h3>
							<ul>
								<li>You are feeling a deep desire to connect with a greater source</li>
								<li>You understand that creating change in your body is no quick fix,  patience and consistency are required</li>
								<li>You REALLY want to create transformation in your body and mind</li>
								<li>You would like to feel more flexibility and stability in your body</li>
								<li>You want to dive deeper into creating a personal practice</li>
							</ul>

							<p><b>$3500 for 12 weeks of bi-weekly sessions and support</b></p>
						</div>

						

					</div>

				</div>
			</div>
		</div>
	</div>

	
	<div id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<h3 class="text-left" id="about-work">ABOUT MY WORK</h3>

					<div class="entry col-xs-12 text-left">
						<p>Essentially, I coach my clients into bodily awareness. Why is this important? Our bodies hold intelligence beyond what we've traditionally been taught but that has been studied for thousands of years in a system called Yoga. This focus also brings us into a state of peace that is often lost in our world that values immediacy and action. I will teach you how to slow down.  </p>

						<p>Through yoga and massage, I guide people into connection and communication with their bodies, creating a comforting space for growth and healing to occur. Tailoring sessions to meet you exactly where you are and encompassing methods specific to you and your unique intentions.</p>

						<br /><br />
					</div>

					<div class="entry col-xs-6 text-left border-right">
						<p style="padding: 0 15px 0 15px;"><b>ABOUT MY MASSAGE SESSIONS</b> &middot; <br />Slow-paced connective and soft tissue manipulation, integrated with Craniosacral therapy - a technique for balancing the flow of cerebral spinal fluid that protects your central nervous system, aimed toward balancing your body and bringing you into a state of awareness with it. A combination of light and deep work, where appropriate. Sessions are approximately 90 min.</p>
					</div>

					<div class="entry col-sm-6 text-left">
						<p style="padding: 0 15px 0 25px;"><b>ABOUT MY YOGA SESSIONS</b> &middot; <br />Incorporating meditation, yoga asana (postures), and breathwork, to various degrees. Not every body needs the same postures, needs also vary on a daily basis due to shifts in your body and emotional state. Movement follows breath. Sessions are approximately 75 min.</p>

					</div>

					

					<!-- <div class="entry col-xs-12 text-center">
						
						<p><b>MY MASSAGE</b> &middot; Slow-paced connective and soft tissue manipulation aimed toward balancing your body and bringing you into a state of awareness with it. Sessions are approximately 90 min.</p>

						<br /><br />
						<h4>one session ......... $125</h4>
						<h4>three sessions ...... $325</h4>

						
						<h3><br /><br />Three month yoga programs</h3>
						<p>Consistency creates a personal practice and a depth of connection of your body/mind. This leads to transformation that happens when one is truly commited to the process. I combine my skills in meditation, yoga, massage and energy work to create sessions that best fit your needs. Sessions are approximately 75 min.</p>
						<br /><br />
						<p><a href="contact.html">Let's set up a free consultation session</a>, if you're ready to try me out.</p>

						<p>What's included</p>



						<h4>12 sessions ......... $2000</h4>
						<h4>24 sessions ......... $3500</h4>
					</div> -->

					<!-- <div class="entry col-xs-12 text-center button">
						<%# link_to "WORK WITH ME", contact_path, class: "btn btn-default ha-btn" %>
					</div>  -->
					
				</div>
			</div>
		</div>
	</div>




	<div class="col-xs-12 manifesto">
		<div class="container">
			<div class="row">
				
				<!-- <h4 class="text-center">Do you have trouble clearing yourself of your day/thoughts/work? </h4>
				<h4 class="text-center">Are you ready to live with more ease and enjoyment? </h4> -->
				<h4 class="text-center">Are you ready to feel better and hear the wisdom of your body?</h4>

				<div class="entry col-xs-12 text-center button">
					<%= link_to "CONTACT ME", contact_path, class: "btn btn-default ha-btn" %>
				</div> 

			</div>
		</div>
	</div>
	

	<div class="col-xs-12 testimonials">
		<div class="container-fluid">
			<div class="row">

					<div class="entry col-xs-6 text-left">
						<h2>WHAT CLIENTS HAVE TO SAY</h2>
					</div>	

					<div class="entry col-xs-6 text-right border-left">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					  	 <% @testimonials.each_with_index do |testimonial, index| %>

					  	 	<% if index == 0 %>
				          <div class="item active">
				       	<% else %>
									<div class="item">
				       	<% end %>

										<div class="col-xs-12">
			          			<%= strip_tags(testimonial.body) %>
			          			<p class="sig">-<%= testimonial.title %></p>										  
			          		</div>
				          </div>
				      <% end %>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container about" id="about">
			<div class="row">

				<div class="entry col-xs-12 col-md-5 text-left">
					<div class="thumbnail">
						<%= image_tag 'heather.png' %>
					</div>
				</div>

				<div class="entry col-xs-12 col-md-7 text-left">
					<h2>ABOUT HEATHER</h4>
					<p class="entry">My own journey has ushered me in overcoming anxiety and becoming my true self. I worked for 10 years as a web developer in corporate environments, teaching yoga on the side. I could no longer ignore the pull of my desire to work with the body. I became an LMT (licensed massage therapist) to further my skills in helping nourish and nurture others.</p>
				
					<p class="entry"> Teaching yoga since 2012, I have been drawn towards the principles embodied by Ashtanga yoga. Traveling to study in Thailand with Richard Freeman opened my senses to teach focused on slower movement and more internal focus.
					</p>

					<p class="entry">As I continuously refine my ability to bring myself home, I want to help others find compassion and connection - qualities that are abundant within us all. I believe in the potential for change that is living inside each of us. I understand the loss of hope that occurs when pain (physical, emotional or mental) is present. By bringing a more open awareness to the body, I lead clients into a thriving relationship with their inner selves and their greatest potential.</p>
				</div>

			</div>
		</div>	

	<div class="col-xs-12">
		<div class="container">
			
				<div class="row text-center insta">
					
					<div class="container">
						<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup">
					<form action="https://heatherallaman.us18.list-manage.com/subscribe/post?u=8ba3dcd6c24c0579fe11e8625&amp;id=d59e0357c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<label for="mce-EMAIL">Would you like to receive emails from Heather?</label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8ba3dcd6c24c0579fe11e8625_d59e0357c7" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					</form>
					</div>

					<!--End mc_embed_signup-->
						
					</div>
					
				</div>
			</div>
		</div>
	</div> 

</div>
