<div class="welcome">
	<div id="home_header" class="col-xs-12">

		<%= image_tag('laughing.jpg', style: 'visibility: hidden; width: 100%; height: auto;') %>

	</div>


	<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h1>ABOUT THE WORK</h1>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left bodywork">

							<!-- <h4>$95 ......60 min</h4>
							<h4>$135 ..... 90 min</h4> -->
							<%#= link_to "BOOK A SESSION", "https://square.site/book/4ZNHPXMAV3K91/heather-allaman", class: "btn btn-default ha-btn" %>


							<p>&nbsp;</p>


							<p>Our bodies speak to us through pain and discomfort. Whether you are feeling it emotionally or physically -- access to the issue, whether through deep tissue or lighter, more energetic work, allows you to realign your physical and energetic bodies.</p>

							<p>Heather's specialties include deep tissue, myofascial therapy, Craniosacral therapy, and alignment/movement/breath practices based in yoga. </p>


						</div>



					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 manifesto">
		<div class="container">
			<div class="row">

				<h4 class="text-center">Are you ready to feel better and hear the wisdom of your body?</h4>

				<div class="entry text-center button">

					<%#= link_to "BOOK AN APPOINTMENT", "https://squareup.com/appointments/book/4ZNHPXMAV3K91/heather-allaman-nashville-tn", class: "btn btn-default ha-btn" %>

				</div>


			</div>
		</div>
	</div>


	<div id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 text-left">
						<h1 class="text-left">ENERGY &amp; BODY WORK</h1>

						<h2 class="text-left" id="about-work">ABOUT MY WORK</h2>
						<p>The body is a blueprint of all experiences and emotions, sometimes leaving a physical mark. Much of my work revolves around breath, opening myofascial adhesions and <b>Craniosacral therapy</b>, a technique for balancing the flow of cerebral spinal fluid that protects your central nervous system.</p>
					</div>


					<div class="entry col-xs-12 text-left">
						<h3>Massage and Body Work</h3>
						<p>Slow-paced connective and deep tissue manipulation, integrated with Craniosacral therapy. Using my intuition as a guide and aimed toward balancing your body and bringing you into a state of awareness. A combination of light and deep work, where appropriate.</p>
					</div>


					<div class="entry col-xs-12 text-left">
						<h3>Yoga Sessions</h3>
						<p>Incorporating meditation, yoga asana (postures), and breathwork, to various degrees. Not every body needs the same postures, needs also vary on a daily basis due to shifts in your body and emotional state. Movement follows breath.</p>

					</div>


				</div>
			</div>
		</div>
	</div>


	<div class="col-xs-12 testimonials">
		<div class="container-fluid">
			<div class="row">

				<div class="entry col-xs-12 col-sm-6 text-right pull-right">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">


					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					  	 <%= @testimonials.each_with_index do |testimonial, index| %>

					  	 	<% if index == 0 %>
				          <div class="carousel-item item active">
				       	<% else %>
									<div class="carousel-item item">
				       	<% end %>

										<div class="col-xs-12">
											<div style="float: left; padding-right: 20px;">
												<h3>WHAT CLIENTS SAY</h3>
												<h2 style="padding: 15px 0 0 0; text-align: center;">
														<%= testimonial.title %>
													</h2>
												<p><%= strip_tags(testimonial.body) %></p>
											</div>
			          		</div>
				          </div>

				      	<% end %>
							</div>

						</div>
						<!-- end wrapper for slides -->

					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="col-xs-12">
		<div class="container about" id="about">
			<div class="row">

				<div class="entry col-xs-12 col-md-5 text-left">
					<div class="thumbnail">
						<%= image_tag 'standing.jpg' %>
					</div>
				</div>

				<div class="entry col-xs-12 col-md-7 text-left">
					<h2>ABOUT ME</h4>
					<p>As I continuously refine my ability to bring myself home, I want to help you find compassion and connection - qualities that are abundant within us all. I want to help you feel the love that is abundant and universal. I hold a safe space that allows you to feel your emotions in a way that gives you more information and a step up in opening up to a more whole version of yourself. </p>

					<!-- <p>My own journey has ushered me in overcoming anxiety and opening to who I am in my heart - an intuitive and healing person. After studying computer science, I became a web developer in corporate environments, while teaching yoga on the side. 10 years later, I felt I no longer fit into that role and couldn't ignore my desire to develop my intution on a deeper level.</p> -->

					<p> Teaching yoga since 2012, I have been drawn towards the principles embodied by Ashtanga yoga. Traveling to study in Thailand with Richard Freeman opened my senses to teach focused on slower movement and more internal focus. In 2018, I became an LMT (licensed massage therapist) to further my skills in helping nourish and nurture others.
					</p>

				</div>

			</div>
		</div>
	</div>



	<div class="col-xs-12 work-header">
		<div class="container-fluid">

				<div class="row text-center">
					<!-- Begin MailChimp Signup Form -->
					<h4>Would you like to receive emails from Heather?</h4>

					<form action="https://heatherallaman.us18.list-manage.com/subscribe/post?u=8ba3dcd6c24c0579fe11e8625&amp;id=d59e0357c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<br />
					    <input type="email" class="form-control" name="EMAIL" i aria-describedby="emailHelp" placeholder="email address" required style="max-width: 400px; margin: auto;">
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8ba3dcd6c24c0579fe11e8625_d59e0357c7" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ha-btn btn-default"></div>
					</form>

				<!--End mc_embed_signup-->
			</div>
	</div>
