<div class="container">
  <div class="daily text-center">
  	<div class="col-xs-12">
    	<div class="row">
				<%= image_tag('daily_readings_symbol.png', width: 100, style: 'padding-bottom: 30px;') %>

		  	<h2>DAILY MOON VIBE READING</h2>
		  	<h4><span class="emph-day"><%= Date.today.strftime('%A') %></span><%= Date.today.strftime('%-d %B %Y') %></h4>



		  	<% 
					@daily_reading_text = strip_tags(@post.body).split('.').in_groups(2)

		      @daily_para_1 = @daily_reading_text[0].join(' ').to_s 
		      @daily_para_2 = @daily_reading_text[1].join(' ').to_s
			  %>

				<div class="entry text-left">
					<p><%= @daily_para_1.to_s + '.' if @daily_para_1.present? %></p>
				</div>

				<div class="entry text-left">
					<p><%= @daily_para_2.to_s if @daily_para_2.present? %></p>
				</div>

				<div class="entry text-left">
					<%= @post.body.html_safe %>
					<p class="text-center">		
						<%= link_to post_like_path(:post_id => @post.id,
    :id => @post.id), class: 'post-like', method: :put, remote: true, data: { type: :json } do 
    	    	render  partial: 'posts/heart', locals: { thing_id: 'post-'+@post.id.to_s, heart_class: "purple"}
				    end %>
						<span id="post-likes" class="badge"><%= @post.likes %></span>
					</p>
				</div>
				<hr class="col-xs-12" />
				<div class="share-this">
					
          <a href="http://www.facebook.com/sharer/sharer.php?u=<%=  URI.parse(request.base_url + request.original_fullpath) %>&title=<%= URI::escape(@post.title) %>" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="count"><%= @facebook_count %></span>
          </a>
         
          <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%= @post.main_image.url %>&url=<%=  URI.parse(request.base_url + request.original_fullpath) %>&is_video=false&description=<%= URI::escape(@post.title) %>" target="_blank">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              <span class="count"><%= @pinterest_count %></span>
          </a>
          
          <a href="https://plus.google.com/share?url=<%=  URI.parse(request.base_url + request.original_fullpath) %>" target="_blank">
             <i class="fa fa-google-plus" aria-hidden="true"></i>
             <span class="count"><%= @google_count %></span>
          </a>

          <a href="http://www.tumblr.com/share?v=3&u=<%=  URI.parse(request.base_url + request.original_fullpath) %>&t=<%= URI::escape(@post.title) %>" target="_blank">
              <i class="fa fa-tumblr" aria-hidden="true"></i>
          </a>
          <a href="http://twitter.com/intent/tweet?status=<%= URI::escape(@post.title) %>+<%=  URI.parse(request.base_url + request.original_fullpath) %>" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="mailto:?body=<%=  URI.parse(request.base_url + request.original_fullpath) %>" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <h2><%= @sum.to_s + ' shares' %></h2>
				</div> 

			</div>
		</div>
	</div>
</div>

